<section class="phx-hero" style="background-color:#<%= @game.name %>">
  <h1>Welcome to #<%= @game.name %></h1>

  <%= for msg <- @msgs do %>
  <p><%= msg %></p>
  <br/>
  <% end %>

  <form action="#" phx-submit="send-message">
    <input type="text" name="message" placeholder="Message" />
    <input type="submit" value="Send!" />
  </form>
</section>
